<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Вкусные блинчики</title>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      align-items: center;
      height: 100vh;
      margin: 3rem;
    "
  >
    <button id="nextBtn">Next</button>

    <script src="https://cdn.jsdelivr.net/npm/p5@1.11.7/lib/p5.min.js"></script>
    <script>
      const capacity = parseInt(`{{capacity}}`);
      const input = JSON.parse(`{{input}}`);
      const moves = JSON.parse(`{{moves}}`);
      let move = 0;

      const nextBtn = document.getElementById("nextBtn");

      const colorMap = {};
      const possibleColor = [
        "#8ECAE6",
        "#219EBC",
        "#023047",
        "#000000",
        "#FFB703",
        "#FB8500",
        "#884873",
        "#8B6477",
        "#021B47",
        "#2165BC",
        "#8EAEE6",
        "#FFFFFF",
        "#FF00FF",
      ];

      const getColor = (id) => {
        if (colorMap[id] === undefined) {
          const randomIndex = Math.floor(Math.random() * possibleColor.length);
          const removedElement = possibleColor.splice(randomIndex, 1)[0];
          colorMap[id] = removedElement;

          return removedElement;
        }

        return colorMap[id];
      };

      const rows = Math.floor((input.length - 1) / 7) + 1;
      const canvasHeight = capacity * 40 * rows + (rows - 1) * 10 + 20;

      const w = 100;
      const h = 40;
      const p = 10;

      function setup() {
        createCanvas(790, canvasHeight);
      }

      function draw() {
        background(200);

        for (let i = 0; i < input.length; i++) {
          for (let j = 0; j < capacity; j++) {
            fill(input[i][j] !== undefined ? getColor(input[i][j]) : 200);
            rect(
              p + (i % 7) * w + (i % 7) * p,
              (capacity - 1) * h + p - j * h + capacity * h * Math.floor(i / 7) + p * Math.floor(i / 7),
              w,
              h
            );
          }
        }
      }

      nextBtn.addEventListener("click", () => {
        if (move > moves.length - 1) {
          return;
        }

        const nextMove = moves[move];
        input[nextMove[1]].push(input[nextMove[0]].pop());

        move++;
      });
    </script>
  </body>
</html>
